.dana {
    color: darkcyan;
    font-weight: bold;
}
.peter {
    color: goldenrod;
    font-weight: bold;
}
.ray {
    color: royalblue;
    font-weight: bold;
}
.mayor {
    color: salmon;
    font-weight: bold;
}
.egon {
    color: seagreen;
    font-weight: bold;
}
.winston {
    color: purple;
    font-weight: bold;
}