body {
    width: 90%;
    max-width: 960px;
    min-width: 320px;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: lavenderblush;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5em;
}

div {
    border: 3px dotted #db4545;
    padding: 10px 30px 10px 30px;
    margin: 20px;
}

.name {
    color: #db4545
}

h1 {
    font-size: 30pt;
    text-align: center;
    color: #db4545;
    padding-bottom: 20px;
    line-height: 40pt;
}

h2 {
    color: #db4545
}

h3 {
    color: rgb(230, 190, 14);
    font-size: 12pt;
    line-height: .5em;
}

img {
    padding-top: 20px;
    display: block;
    margin: auto;
    max-width: 100%;
}

li {
    color: rgb(230, 190, 14);
    font-weight: bold;
}

li span {
    color: black;
    font-weight: 300;
}

.grid {
    list-style-type: none;
    margin: auto;
    padding: 2rem 1rem 3rem 1rem;
}

@media (min-width: 640px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .ingredients, .preparation {
        width: 50%;
    }

    h1 {
        font-size: 40pt;
    }
}

a:link {
    color: #db4545
}

a:hover {
    color: rgb(230, 190, 14)
}

footer {
    font-size: 8pt;
    padding: 10px;
}