header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

li h1 {
    font-size: 2.5rem;
}

li h2 {
    text-transform: uppercase;
    font-size: 1rem
}

li h1, h2 {
    font-weight: lighter;
}

.cast img {
    width: 100%;
}

.cast ul li {
    width: 25%;
}

.shows h1 {
    border-top: 1px solid black;
}

.selected a {
    font-weight: bold;
    color: black;
}

.cast div {
    font-size: 0.8rem
}

.cast li a div:first-of-type {
    font-weight: bold;
}

.cast li a div:last-of-type {
    font-style: italic;
}

#game-of-thrones .seasons li:last-child:after{
    content: "*"
}

#game-of-thrones .seasons:after {
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}